<app-full-config (application)="onApplication($event)" (supportURLs)="onSupportURLs($event)" [hideLog]="true">
</app-full-config>

<div *ngIf="app" class="mt-2">
    <div *ngFor="let su of appSupportUrl.supportUrls" class="mt-2">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="name-description">
                    <span class="invoke-icon mr-3">
                        <mat-icon (click)="onInvoke(su, appSupportUrl.appHost)">support_agent</mat-icon>
                    </span>
                    {{su.name}} {{su.description}}
                </mat-panel-title>
                <mat-panel-description>
                    {{su.url}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{appSupportUrl.appHost}}{{su.url}}
            <div *ngIf="su.headers" class="mt-2">
                <mat-card-subtitle>Headers</mat-card-subtitle>
                <mat-form-field *ngFor="let h of su.headers | keyvalue;trackBy:trackByFn" class="mt-2 full-width">
                    <mat-label>{{h.key}}</mat-label>
                    <input [(ngModel)]="su.headers[h.key]" matInput>
                </mat-form-field>
            </div>
            <div>
                <button (click)="onInvoke(su, appSupportUrl.appHost)" class="search-button mt-3" mat-stroked-button
                    color="primary">Invoke</button>
            </div>
        </mat-expansion-panel>
    </div>
    <span>{{stopPropagation()}}</span>
</div>

<mat-card *ngIf="result" class="mt-2">
    <div>
        <mat-card-subtitle>{{appSupportUrl.appHost}}{{currentUrl}}</mat-card-subtitle>
        <pre>{{result | json}}</pre>
    </div>
</mat-card>