.icon {
    cursor: pointer;
    position: relative;
    top: 5px;
}

.wrapper {
    position: relative;
}

.user-info {
    position: absolute;
    top: 17px;
    padding: 7px;
    font-weight: bold;
    background: rgb(190, 223, 233);
    width: 200px;
    border-radius: 7px;
    text-align: center;
}

.hidden {
    display: none;
}