<div *ngIf="envs" class="mt-3">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title><mat-icon>search</mat-icon><span class="pl-2">search</span></mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="app-card">
                <mat-card-content>
                    <mat-form-field class="form-select-width mt-3">
                        <mat-label>Application</mat-label>
                        <mat-select (selectionChange)="onAppSelected($event.value)" [(value)]="application">
                            <mat-option *ngFor="let app of apps | keyvalue" [value]="app.key">{{app.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-select-width mt-3">
                        <mat-label>Environment</mat-label>
                        <mat-select (selectionChange)="onEnvSelected($event.value)" [value]="env">
                            <mat-option *ngFor="let e of envs" [value]="e">{{e}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <ng-content select="[content]"></ng-content>

                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>